.setting-form {
  padding-bottom: 60px;

  :global {
    .setting-footer {
      height: 60px;
    }

    .store-section {
      &__title {
        width: 130px;
        text-align: right;
      }
    }
  }
}
