html,
body,
#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  min-width: 1400px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .2s ease;
}

a:active,
a:hover {
  outline-width: 0;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
